header td {
	border: 3px dashed black;
	text-align: center;
}
a:visited{
	color:gray;
}
article{
	text-align: center;
	margin-left: 5em;
	margin-right: 5em;
}
article h3 {
	margin-bottom: 0px
}
header img {
	height: 3.5em;
	width: auto;
}
article p {
	font-size: 16px
}
a {
	text-decoration: none
}
header table{
	height: 3.5em;
	width: 100%;
}
header{
	width: 100%;
}
footer{
	width: 100%;
	background-color: #8aa8c1;
	height: 8%;
	position: fixed;
	top: 92%;
	left: 0;
	border-top: 3px solid black
}
div{
	text-align: center;
}