body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

 main {
    flex: 1 0 auto;
  }
main table{
	font-family: monospace;
	font-weight: bold;
	height: 2em;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle
}
table td {
	text-align: center;
}
td a{
	text-decoration: none;
}